
.features-container {
  height: 196px;
  padding-top: 68px;
}


.features-list {
  margin-left: -75px;
}

.features-list .features-item {
  width: 240px;
  margin-left: 75px;
}

.features-item .features-title {
  color: rgb(51, 51, 51);
  font-size: 18px;
  margin-left: 10px;
}

.features-item-top {
  margin-bottom: 30px;
}

.features-item-top .ico {
  vertical-align: middle;
}

.features-item .features-content {

  color: rgb(140, 140, 140);
  font-size: 13px;
  line-height: 1.769;
}

