.fl{
    float: left;
}
.fr{
    float: right;
}
.red-font{
    color: rgb(232,65,60);
}
.white-font{
    color: white;
}
/*IE8下*/
img{
    border: none;
}

/*清除浮动*/
.clearfix:after {
    display: table;
    content: "";
    width: 0;
    clear: both;
    overflow: hidden;
}

.clearfix {
    *zoom: 1;
    /*zoom: 1;*/ /* for ie6 & ie7 */
    *overflow: hidden;
}

.row{
    /*margin-left: 356.5px;*/
    /*margin-right: 356.5px;*/
    margin-left: auto;
    margin-right: auto;
    width: 1190px;
}
 .col-md-4 {
    float: left;
    width: 33.33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-md-4:nth-of-type(3n+1) {
    margin-left: -10px;
}

.col-md-4:nth-of-type(3n+2) {
    margin-left: 10px;
    margin-right: 10px;
}

 .col-md-4:nth-of-type(3n+3) {
    margin-right: -10px;
}
 /*圆形*/
.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

ul{
    display: block;
}
li{
    display: block;
    float: left;
}