
@top-color: rgb(250, 250, 250);
/*ÉÏ·½ÈÝÆ÷*/
.top-container {
  background-color: @top-color;
  padding-top: 40px;
  padding-bottom: 35px;
}

.top-container .top-focus {
  margin-bottom: 30px;
}

.top-container .menu {
  height: 300px;
  width: 390px;
  position: relative;
  margin-right: 10px;
}

.top-container .menu .type-menu {
  width: 195px;
  height: 300px;
  background-color: rgb(59, 54, 54);
}

.top-container .menu .type-menu .type-menu-title {
  display: block;
  width: 77px;
  height: 41px;
  margin-top: 30px;
  margin-left: 31px;
  margin-bottom: 59px;
}

.top-container .menu .type-img {
  display: inline-block;
  background: url("img/type-menu-title.png?__sprite");
  width: 77px;
  height: 41px;
}

.top-container .menu .type-menu .type-item {
  display: block;
  font-size: 12px;
  color: white;
  margin-bottom: 18px;
  margin-left: 70px;
}

.top-container .menu .hot-selling-menu {
  width: 195px;
  height: 300px;
  background-color: rgb(54, 49, 49);
}

.top-container .menu .hot-selling-img {
  display: inline-block;
  background: url("img/hot-selling-menu-title.png?__sprite");
  width: 78px;
  height: 39px;
}

.top-container .menu .hot-selling-menu .hot-selling-menu-title {
  display: block;
  width: 78px;
  height: 39px;
  margin-top: 30px;
  margin-left: 31px;
  margin-bottom: 59px;
}

.top-container .menu .hot-selling-menu .hot-img {
  position: absolute;
  top: 0px;
  right: 10px;
  display: inline-block;
  background: url("img/hot.png?__sprite");
  width: 30px;
  height: 42px;

}

.top-container .menu .hot-selling-menu .hot-selling-item {
  display: block;
  font-size: 12px;
  color: white;
  margin-bottom: 18px;
  margin-left: 70px;
}

.top-container .slider {
  height: 300px;
  width: 790px;
  position: relative;
}

.top-container .slider .prev-btn, .top-container .slider .next-btn {
  position: absolute;
  height: 50px;
  text-align: center;
  width: 50px;
  top: 50%;
  margin-top: -25px;
  font-size: 26px;
  line-height: 47px;
  background: #000;
  color: #fff;
  opacity: 0.3;
  filter: alpha(opacity=30);
  z-index: 10;
  cursor: pointer;
}

.top-container .slider .prev-btn {
  left: 10px;
}

.top-container .slider .next-btn {
  right: 10px;
}

.top-container .top-designers {
  /*zoom: 1;*/
  margin-left: -5px;
  margin-right: -5px;
}

.top-container .top-designers .top-designers-item {
  background: white;
  height: 108px;
  width: 390px;
  float: left;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.top-container .top-designers .top-designers-item .designer-pic {
  position: absolute;
  top: 29px;
  left: 20px;
}

.top-container .top-designers .top-designers-item .designer-title {
  margin-top: 28px;
  text-align: right;
  padding-right: 20px;
  color: rgb(74, 74, 74);
  font-size: 16px;
}

.top-container .top-designers .top-designers-item .designer-content {
  margin-top: 20px;
  text-align: right;
  padding-right: 20px;
  color: rgb(176, 176, 176);
  font-size: 12px;
}

.top-container .top-designers-from .row {
  margin-top: 40px;
  position: relative;
}

.top-container .top-designers-from .row .top-designers-from-title {
  text-align: left;
  font-size: 24px;
  line-height: 34px;
  color: rgb(74, 74, 74);
  display: block;
  width: 100px;
}

.top-container .top-designers-from .row .top-designers-from-item {
  float: left;
  height: 34px;
  font-size: 34px;
  position: relative;
  margin-right: 74px;
  /*text-align: center;*/
  display: block;

  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
}

.top-container .top-designers-from .row .more-from {
  position: absolute;
  right: 5px;
  font-size: 24px;
  color: rgb(140, 140, 140);
}