/*slider*/
.sliderWF {
  overflow: hidden;
}
.sliderWF .sliderWF-main {
  font-size: 0;
}
.sliderWF .sliderWF-extra {
  background: rgba(71, 70, 70, 0.6);
  position: absolute;
  width: 100%;
}
.sliderWF .sliderWF-extra .sliderWF-page {
  display: none;
}
.sliderWF:hover .sliderWF-extra .sliderWF-page {
  display: block;
}
.sliderWF-page a {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100px;
  color: #fff;
  text-align: center;
  font-size: 70px;
  font-weight: normal;
  font-family: "simsun";
}
.sliderWF .sliderWF-extra .sliderWF-page .sliderWF-next {
  /*right: 0;*/
}
