
.alibaba{
    background: url(./img/alibaba.png?__sprite);
    width: 77px;
    height: 19px;
}
.baidu{
    background: url(./img/baidu.png?__sprite);
    width: 60px;
    height: 20px;
}
/*.banner{
    background: url(./img/banner.png?__sprite);
    width: 1920px;
    height: 516px;
}*/
.blue-p-ellipse{
    background: url(./img/blue-p-ellipse.png?__sprite);
    width: 50px;
    height: 50px;
}
.heart{
    background: url(./img/heart.png?__sprite);
    width: 14px;
    height: 11px;
}
.hot{
    background: url(./img/hot.png?__sprite);
    width: 30px;
    height: 42px;
}

.international-awards{
    background: url(./img/international-awards.png?__sprite);
    width: 79px;
    height: 22px;
}
.lehtml{
    background: url(./img/lehtml.png?__sprite);
    width: 85px;
    height: 24px;
}
.logo{
    background: url(./img/logo.png?__sprite);
    width: 120px;
    height: 40px;
}
.qr-code{
    background: url(./img/qr-code.png?__sprite);
    width: 122px;
    height: 182px;
}
.red-phone{
    background: url(./img/red-phone.png?__sprite);
    width: 22px;
    height: 22px;
}
.red-s-ellipse{
    background: url(./img/red-s-ellipse.png?__sprite);
    width: 20px;
    height: 20px;
}
.red-s-mid-ellipse{
    background: url(./img/red-s-mid-ellipse.png?__sprite);
    width: 50px;
    height: 50px;
}

.red-tencent-footer{
    background: url(./img/red-tencent-footer.png?__sprite);
    width: 20px;
    height: 22px;
}

.tencent{
    background: url(./img/tencent.png?__sprite);
    width: 75px;
    height: 26px;
}
.uicn{
    background: url(./img/uicn.png?__sprite);
    width: 43px;
    height: 32px;
}
.yellow-g-ellipse{
    background: url(./img/yellow-g-ellipse.png?__sprite);
    width: 50px;
    height: 50px;
}
.youku-recommend{
    background: url(./img/youku-recommend.png?__sprite);
    width: 79px;
    height: 29px;
}
/*
.hot{
    background: url(./img/img.png?__sprite);
    width: 30px;
    height: 42px;
}
.hot{
    background: url(./img/img.png?__sprite);
    width: 30px;
    height: 42px;
}
.hot{
    background: url(./img/img.png?__sprite);
    width: 30px;
    height: 42px;
}
.hot{
    background: url(./img/img.png?__sprite);
    width: 30px;
    height: 42px;
}
*/








