
.alibaba{width: 77px;
    height: 19px;background-repeat: no-repeat;}
.baidu{width: 60px;
    height: 20px;background-repeat: no-repeat;}
/*.banner{
    background: url(./img/banner.png?__sprite);
    width: 1920px;
    height: 516px;
}*/
.blue-p-ellipse{width: 50px;
    height: 50px;background-repeat: no-repeat;}
.heart{width: 14px;
    height: 11px;background-repeat: no-repeat;}
.hot{width: 30px;
    height: 42px;background-repeat: no-repeat;}

.international-awards{width: 79px;
    height: 22px;background-repeat: no-repeat;}
.lehtml{width: 85px;
    height: 24px;background-repeat: no-repeat;}
.logo{width: 120px;
    height: 40px;background-repeat: no-repeat;}
.qr-code{width: 122px;
    height: 182px;background-repeat: no-repeat;}
.red-phone{width: 22px;
    height: 22px;background-repeat: no-repeat;}
.red-s-ellipse{width: 20px;
    height: 20px;background-repeat: no-repeat;}
.red-s-mid-ellipse{width: 50px;
    height: 50px;background-repeat: no-repeat;}

.red-tencent-footer{width: 20px;
    height: 22px;background-repeat: no-repeat;}

.tencent{width: 75px;
    height: 26px;background-repeat: no-repeat;}
.uicn{width: 43px;
    height: 32px;background-repeat: no-repeat;}
.yellow-g-ellipse{width: 50px;
    height: 50px;background-repeat: no-repeat;}
.youku-recommend{width: 79px;
    height: 29px;background-repeat: no-repeat;}
/*
.hot{
    background: url(./img/img.png?__sprite);
    width: 30px;
    height: 42px;
}
.hot{
    background: url(./img/img.png?__sprite);
    width: 30px;
    height: 42px;
}
.hot{
    background: url(./img/img.png?__sprite);
    width: 30px;
    height: 42px;
}
.hot{
    background: url(./img/img.png?__sprite);
    width: 30px;
    height: 42px;
}
*/








.alibaba{background-position:-45px 0px}.baidu{background-position:-62px -22px}.blue-p-ellipse{background-position:-72px -45px}.heart{background-position:-108px -98px}.hot{background-position:-92px -112px}.international-awards{background-position:-43px -157px}.lehtml{background-position:-37px -182px}.logo{background-position:-2px -209px}.qr-code{background-position:0px -252px}.red-phone{background-position:-100px -437px}.red-s-ellipse{background-position:-102px -462px}.red-s-mid-ellipse{background-position:-72px -485px}.red-tencent-footer{background-position:-102px -538px}.tencent{background-position:-47px -563px}.uicn{background-position:-79px -592px}.yellow-g-ellipse{background-position:-72px -627px}.youku-recommend{background-position:-43px -680px}.alibaba,.baidu,.blue-p-ellipse,.heart,.hot,.international-awards,.lehtml,.logo,.qr-code,.red-phone,.red-s-ellipse,.red-s-mid-ellipse,.red-tencent-footer,.tencent,.uicn,.yellow-g-ellipse,.youku-recommend{background-image: url(/style_z.png)}